{% extends 'base.html' %}
{% block content %}


base.html을 상속받은후 아래 알맹이만 작성함

        <div class="container my-3">
            <table class="table">
                <thead>
                <tr class="thead-dark">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>
                {% if question_list %}
                {% for question in question_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a> <!-- urls.py에 name='detail'이라는 별칭을 가진 url패턴이 목적지 url이다. question.id값을 url에 같이 넘긴다.-->
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문등록하기</a>
        </div>

{% endblock %}